body { padding:0px; margin:0px; padding-top:24px; font-family:Arial, sans-serif; color:#666; font-size:12px; }

#header { position:relative; height:80px; padding-left:70px; border-top:1px solid #c9d7f1; }
#header img { position:absolute; top:10px; left:8px; }
#header h1,
#header h2 { font-size:40px; display:block; padding:0; margin:0; font-family:Arial, sans-serif; color:#666; font-weight:normal; }
#header h1 { margin-top:3px; }
#header h2 { font-size:12px; }

ul, 
li { list-style:none; padding:0; margin:0; }
ul.nav { display:block; background:#ebeff9; height:25px; padding-top:5px; padding-left:5px; border-bottom:1px solid #6b90da; }
ul.nav li,
ul.nav li a { display:block; float:left; color:#0000cc; font-size:12px; font-family:Arial, sans-serif; font-size:12px;  }
ul.nav li a { padding:0px 10px 0px 10px; height:25px; line-height:25px;  }
ul.nav li.active a { border:1px solid #6b90da; border-bottom:none; background:#fff; padding:0px 10px 0px 10px; margin-bottom:-1px; color:#000; text-decoration:none; font-weight:bold; }


#demo { position:relative; padding:10px; height:400px; }

.canvas { position:absolute; top:50px; left:50px; width:600px; height:600px; border:1px solid #ffff; }

/* Crossbrowser float clear */
.fix { position:relative; display:inline-block; }
.fix { zoom:1; display:block; }/* IE6 fix */
.fix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }